* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background: url(logo.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-size: 70px;
  font-family: 'Fahkwang', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
b {
  font-size: 20px;
}

.color-p {
  color: #8d8585;
}

.logoStudyLab {
  padding: 30px;
  font-size: 28px;
  background: linear-gradient(130deg, #f37070, #3214dc); /*градиент*/
  color: #fff;
}

.a_menu {
  margin-top: 20px;
}
.a_menu a {
  font-size: 33px;
  margin-right: 40px;
  color: #fff;
}

.a_menu-home {
  color: #3214dc !important;
}
.a_menu-home:hover {
  color: #fff !important;
}
.logo_header {
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0px 70px;
}

.header-info {
  margin-top: 70px;
}

.header-p {
  font-size: 30px;
  font-family: 'Fahkwang', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 22px 0px;
}

button { 
  padding: 18px;
  width: 140px;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.Our-Course-butt {
  background: #3214dc;
  color: #fff;
}


.form-to-fill {
  border-radius: 20px;
  background: #Fff;
  width: 35%;
  padding: 50px;
  box-shadow: 0 0 10px rgba(70, 66, 66, 0.5);
}


.Register-Now {
  color: #3214dc !important;
  font-size: 25px;
  padding: 15px;
  font-family: sans-serif;
}
.form-to-fill-mini p {
  color: #b9a5a5;
  padding-top: 20px;
}

.input {
  padding: 20px 10px;
  width: 80%;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
}

.link-p {
  font-size: 20px; 
  display: flex;
}
.entrance-btn {
  background: #3214dc;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
}



/* ---Browse Online Course Category---------- */
.IT-sphere-box {
  padding: 140px 0px;
  background: #fff;
  text-align: center;
  color: #000;
}
.IT-sphere1 {
  font-size: 25px;
  color: #3214dc;
}
.IT-sphere2 { 
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
}

.IT-sphere-img {
  display: flex;
  justify-content: space-around;

  /* flex-direction: row;
  flex-wrap: wrap; */
}

.IT-sphere-img img{
  width: 220px;
  border-radius: 50%;
  padding: 80px 0px;
}


.See-All-Course-btn {
  background: #f006e4;
  color: #fff;
  font-size: 25px;
  width: 230px;
  cursor: pointer;
}

/* ----Pick Your Course--------- */
.IT-sphere-box-cards {
  padding: 100px 0px;
  background:#f9faff;
  text-align: center;
  color: #000;
}
.sphere-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
 
  flex-direction: row;
  flex-wrap: wrap;
}
.IT-sphere-card {
  margin: 20px;
  width: 450px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(129, 118, 118, 0.5);
  cursor: pointer;
}
.IT-sphere-card img {
  width: 450px;
  height: 350px;
}
.Software-p { 
  color: rgb(255, 255, 255);
  margin-top: -45px !important;
  margin-left: 25px !important;
  font-size: 40px !important;
}
.IT-sphere-card p {
  margin: 40px 10px;
  font-size: 40px;
  text-align: left;
}
.IT-sphere-card-p {
  font-size: 25px !important;
  margin: 20px 10px;
  color: #8d8585;
}

.IT-sphere-price {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
/* -------IT-sphere-information-- */
.IT-sphere-information {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;

  flex-direction: row;
  flex-wrap: wrap;

  background: linear-gradient(130deg, #fa95ec, #9080e9); /* градиент */
}

.IT-sphere-information-pBold {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}

.IT-sphere-information-pBold2 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding-top: 10px;
}
/* -------------------- */

/* ------enhance your skills-------------- */
.enhance-your-skills-box {
  padding: 150px 50px 340px 100px;
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  /* flex-direction: row;
  flex-wrap: wrap; */
}
.enhance-your-skills img {
  width: 500px;
  border: solid 15px #fff;
}

.enhance-your-skills-img {
  position: absolute;
  left: 15pc;
  right: 0;
  top: 255pc;
  bottom: 0;
}

.enhance-your-skills-info {
  padding: 80px 0px 0px 180px;
}

.enhance-your-skills-logo-p {
  color: blueviolet; 
  font-size: 30px;
}

.enhance-your-skills-info-bold {
  font-weight: bold;
  font-size: 45px;
  padding: 15px 0px;
}
.enhance-your-skills-info-p {
  color: #8d8585;
  font-size: 30px;
}

.enhance-your-skills-butt {
  margin-top: 70px;
  background: blueviolet;
  width: 280px;
  color: #fff;
  font-size: 25px;
}

/* -------what-Are-Students-Says------/////------- */
.what-Are-Students-Says-box {
  display: flex;
  justify-content: space-between;
  background: #f9faff;
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.what-Are-Students-Says1  {
  width: 50%;
  padding: 100px 50px 0px 100px;
}

.what-Are-Students-Says2  {
  width: 50%;
  text-align: right;

}

.what-Are-Students-Says2 img {
  width: 620px;
}

/* -------welcome-to-studylab------------- */
.WELCOME-img-box {
  background: rgb(253, 253, 253);
  padding: 100px 50px 0px 50px;
}
.WELCOME-img { 
  text-align: center;
  width: 100%;
}

.WELCOME-block-p-bold { 
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

.WELCOME-block-p {
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 340pc;
  left: 21pc;
}
.Enroll-New {
  margin-top: 20px;
  background: cornflowerblue;
  color: #fff;
  width: 200px;
  font-size: 25px;
}

.welcome-to-studylab-box {
  padding: 150px 50px 100px 50px;
  display: flex;
  justify-content: space-between;
  background: rgb(253, 253, 253);
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.welcome-to-studylab {
  width: 50%;
}
.studylab1 {
  padding-top: 70px;
}
.study-p {
  margin-top: 15px;
  font-size: 28px;
}

.welcome-to-studylab-img-p {
  display: flex;
  margin-top: 30px;
}
.welcome-to-studylab-img-p img {
  width: 200px;
}
.welcome-to-studylab-img-p p { 
  margin-top: 35px;
  font-size: 30px;
  margin-left: 30px;
}

.welcome-to-studylab-cards {
  width: 60%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.studylab-card {
  margin-bottom: 20px;
  padding: 20px;
  width: 35%;
  background: #fff;
  box-shadow: 0 0 5px rgba(70, 66, 66, 0.2);
}

.studylab-card img{
  width: 100px;
  border-radius: 50%;
}
.studylab-card-bold {
  font-weight: bold;
  font-size: 28px;
}
.studylab-card-p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 30px;
  color: #8d8585;
}

/* -----------OUR BLOG--------- */
.our-blog-text {
  padding: 10px;
  text-align: left;
}
.our-blog-text div {
  padding-left: 10px;
}
.our-blog {
  font-size: 30px !important;
  color: #b9a5a5;
}
.our-blog-Read-more {
  margin-bottom: 20px;
  width: 200px;
  font-size: 25px;
  background: violet;
  color: #f9faff;
}

/* -------------- */
/* footer */
footer {

  background: linear-gradient(160deg, #d373f8, #494cf3); /*градиент*/
}
.footer-box { 
  padding: 80px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row;
  flex-wrap: wrap; */
  color: #f7f7f7;
}

.footer-box-menu {
  font-size: 25px;
  width: 250px;
  /* display: flex;
  justify-content: space-between; */
  flex-direction: row;
  flex-wrap: wrap;
}

.social-links {
  padding-top: 30px;
}

.social-link {
  padding: 25px;
  border-radius: 50%;
  background: #17a2b8;
}
.footer-menu-text {
  font-size: 30px;
  color: #fff;
}

.footer-box-menu p {
  margin-top: 20px;
}


.foot  {
  text-align: center;
  display: flex;
  justify-content: center;
  /* background: #000; */
  padding: 30px;
  color: #fff;
}
.foot p {
  font-size: 25px;
}
.foot a img {
  border-radius: 15px;
  margin-left: 20px;
}


/* ------------------------------ */

@media(max-width: 1300px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }

  
h1 {
  font-size: 40px;
  font-family: 'Fahkwang', sans-serif;
  font-family: 'Roboto', sans-serif;
}

b {
  font-size: 20px;
}


.logoStudyLab {
  padding: 20px;
  font-size: 25px;
  background: linear-gradient(130deg, #f37070, #3214dc); /*градиент*/
  color: #fff;
}

.a_menu {
  margin-top: 20px;
}
.a_menu a { 
  font-size: 25px;
  margin-right: 40px;
  color: #fff;
}

.logo_header {
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0px 70px;
}

.header-info {
  margin-top: 100px;
}

.header-p {
  font-size: 20px;
  font-family: 'Fahkwang', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 20px 20px 0px 0px;
}

button { 
  padding: 15px;
  width: 120px;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.Our-Course-butt {
  margin-top: 20px;
  background: #3214dc;
  color: #fff;
}

.entrance-btn {
  padding: 15px;
}

/* ------------------- */

/* ---Browse Online Course Category---------- */
.IT-sphere-box { 
  padding: 140px 0px; 
  background: #fff;
  text-align: center;
  color: #000;
}
.IT-sphere1 {
  font-size: 18px;
  color: #3214dc;
}
.IT-sphere2 { 
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

.IT-sphere-img {
  display: flex;
  justify-content: space-around;

  /* flex-direction: row;
  flex-wrap: wrap; */
}

.IT-sphere-img img{
  width: 180px;
  border-radius: 50%;
  padding: 80px 0px;
}


.See-All-Course-btn {
  background: #f006e4;
  color: #fff;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
}

/* ----Pick Your Course--------- */
.IT-sphere-box-cards {
  padding: 80px 0px;
  background:#f9faff;
  text-align: center;
  color: #000;
}
.sphere-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
 
  flex-direction: row;
  flex-wrap: wrap;
}
.IT-sphere-card {
  margin: 20px;
  width: 350px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(129, 118, 118, 0.5);
  cursor: pointer;
}
.IT-sphere-card img {
  width: 350px;
  height: 250px;
}
.Software-p { 
  color: rgb(255, 255, 255);
  margin-top: -35px !important;
  margin-left: 25px !important;
  font-size: 30px !important;
}
.IT-sphere-card p {
  margin: 20px 10px;
  font-size: 20px;
  text-align: left;
}
.IT-sphere-card-p {
  font-size: 14px !important;
  margin: 10px;
  color: #8d8585; 
}

.IT-sphere-price {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  
}
.IT-sphere-price p {
  font-size: 20px;
}

/* -------IT-sphere-information-- */
.IT-sphere-information {
  padding: 100px 50px 100px 50px;
  display: flex;
  justify-content: space-around;

  flex-direction: row;
  flex-wrap: wrap;

  background: linear-gradient(130deg, #fa95ec, #9080e9); /* градиент */
}

.IT-sphere-information-pBold {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.IT-sphere-information-pBold2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding-top: 10px;
}
/* -------------------- */

/* ------enhance your skills-------------- */
.enhance-your-skills-box {
  padding: 150px 50px 200px 100px;
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  /* flex-direction: row;
  flex-wrap: wrap; */
}
.enhance-your-skills img {
  width: 300px;
  border: solid 15px #fff;
}

.enhance-your-skills-img {
  position: absolute;
  left: 15pc;
  right: 0;
  top: 205pc;
  bottom: 0;
}

.enhance-your-skills-info {
  padding: 50px 0px 0px 180px;
}

.enhance-your-skills-logo-p {
  color: blueviolet; 
  font-size: 17px;
}

.enhance-your-skills-info-bold {
  font-weight: bold;
  font-size: 35px;
  padding: 15px 0px;
}
.enhance-your-skills-info-p {
  color: #8d8585;
  font-size: 20px;
}

.enhance-your-skills-butt {
  margin-top: 30px;
  background: blueviolet;
  width: 180px;
  color: #fff;
  font-size: 15px;
}

/* -------what-Are-Students-Says-------///////------ */
.what-Are-Students-Says-box {
  display: flex;
  justify-content: space-between;
  background: #f9faff;
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.what-Are-Students-Says1  {
  width: 50%;
  padding: 100px 50px 0px 100px;
}

.what-Are-Students-Says2  {
  width: 50%;
  text-align: right;

}

.what-Are-Students-Says2 img {
  width: 620px;
}
/* ////////////// */


/* -------welcome-to-studylab------------- */
.WELCOME-img-box {
  background: rgb(253, 253, 253);
  padding: 100px 50px 0px 50px;
}
.WELCOME-img { 
  text-align: center;
  width: 100%;
}

.WELCOME-block-p-bold { 
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.WELCOME-block-p {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 272pc;
  left: 19pc;
}
.Enroll-New {
  margin-top: 20px;
  background: cornflowerblue;
  color: #fff;
  width: 180px;
  font-size: 15px;
}

.welcome-to-studylab-box {
  padding: 150px 50px 100px 50px;
  display: flex;
  justify-content: space-between;
  background: rgb(253, 253, 253);
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.welcome-to-studylab {
  width: 50%;
}
.studylab1 {
  padding-top: 70px;
}
.study-p {
  margin-top: 15px;
  font-size: 20px;
}

.welcome-to-studylab-img-p {
  display: flex;
  margin-top: 20px;
}
.welcome-to-studylab-img-p img {
  width: 150px;
}
.welcome-to-studylab-img-p p { 
  margin-top: 35px;
  font-size: 20px;
  margin-left: 30px;
}

.welcome-to-studylab-cards {
  width: 60%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.studylab-card {
  margin-bottom: 40px;
  padding: 20px;
  width: 35%;
  background: #fff;
  box-shadow: 0 0 5px rgba(70, 66, 66, 0.2);
}

.studylab-card img{
  width: 50px;
  border-radius: 50%;
}
.studylab-card-bold {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.studylab-card-p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 20px;
  color: #8d8585;
}

/* -----------OUR BLOG--------- */
.our-blog-text {
  padding: 20px;
  text-align: left;
}
.our-blog-text div {
  padding-left: 10px;
}
.our-blog {
  font-size: 20px !important;
  color: #b9a5a5;
}
.our-blog-Read-more {
  width: 140px;
  font-size: 15px;
  background: violet;
  color: #f9faff;
}

/* -------------- */
/* footer */
footer {
  background: linear-gradient(160deg, #d373f8, #494cf3); /*градиент*/
}
.footer-box { 
  padding: 80px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row;
  flex-wrap: wrap; */
  color: #f7f7f7;
}

.footer-box-menu {
  font-size: 20px;
  width: 250px; 
  /* display: flex;
  justify-content: space-between; */
  flex-direction: row;
  flex-wrap: wrap;
}

.social-links {
  padding-top: 30px;
}

.social-link {
  padding: 18px;
  border-radius: 50%;
  background: #17a2b8;
}
.footer-menu-text {
  font-size: 30px;
  color: #fff;
}

.footer-box-menu p {
  margin-top: 14px;
  color: #f9f9f9;
}


.foot  {
  text-align: center;
  display: flex;
  justify-content: center;
  /* background: #000; */
  padding: 30px;
  color: #fff;
}
.foot p {
  font-size: 18px;
}
.foot a img {
  border-radius: 15px;
  margin-left: 10px;
}

}

/* Мобильные устройства */
@media(max-width: 992px) {

  .container {
    max-width: 992px;
    margin: auto;
  }
  
  h1 {
    font-size: 70px;
    font-family: 'Fahkwang', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  b {
    font-size: 20px;
  }
  
  .color-p {
    color: #8d8585;
  }
  
  .logoStudyLab {
    padding: 30px;
    font-size: 28px;
    background: linear-gradient(130deg, #f37070, #3214dc); /*градиент*/
    color: #fff;
  }
  
  .a_menu { 
    display: none;
    margin-top: 20px;
  }
  
  
  header {
    /* display: flex;
    justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    margin: 0px 70px;
  }
  
  .header-info {
    margin-top: 70px;
  }
  
  .header-p {
    font-size: 30px;
    font-family: 'Fahkwang', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 22px 0px;
  }
  
  button { 
    padding: 18px;
    width: 140px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .Our-Course-butt {
    background: #3214dc;
    color: #fff;
  }
  
  
  .form-to-fill { 
    border-radius: 20px;
    background: #Fff;
    width: 100%;
    height: 60%;
    padding: 50px;
    box-shadow: 0 0 10px rgba(70, 66, 66, 0.5);
  }
  
  
  .Register-Now {
    color: #3214dc !important;
    font-size: 25px;
    padding: 15px;
    font-family: sans-serif;
  }
  .form-to-fill-mini p {
    color: #b9a5a5;
    padding-top: 20px;
  }
  
  .input {
    padding: 20px 10px;
    width: 80%;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
  }
  
  .link-p {
    font-size: 20px; 
    display: flex;
  }
  .entrance-btn {
    background: #3214dc;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  
  /* ---Browse Online Course Category---------- */
  .IT-sphere-box {
    padding: 140px 0px;
    background: #fff;
    text-align: center;
    color: #000;
  }
  .IT-sphere1 {
    font-size: 25px;
    color: #3214dc;
  }
  .IT-sphere2 { 
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
  }
  
  .IT-sphere-img {
    display: flex;
    justify-content: space-around;
  
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  
  .IT-sphere-img img{
    width: 220px;
    border-radius: 50%;
    padding: 80px 0px;
  }
  
  
  .See-All-Course-btn {
    background: #f006e4;
    color: #fff;
    font-size: 25px;
    width: 230px;
    cursor: pointer;
  }
  
  /* ----Pick Your Course--------- */
  .IT-sphere-box-cards {
    padding: 100px 0px;
    background:#f9faff;
    text-align: center;
    color: #000;
  }
  .sphere-cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
   
    flex-direction: row;
    flex-wrap: wrap;
  }
  .IT-sphere-card {
    margin: 20px;
    width: 450px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(129, 118, 118, 0.5);
    cursor: pointer;
  }
  .IT-sphere-card img {
    width: 450px;
    height: 350px;
  }
  .Software-p { 
    color: rgb(255, 255, 255);
    margin-top: -45px !important;
    margin-left: 25px !important;
    font-size: 40px !important;
  }
  .IT-sphere-card p {
    margin: 40px 10px;
    font-size: 40px;
    text-align: left;
  }
  .IT-sphere-card-p {
    font-size: 25px !important;
    margin: 20px 10px;
    color: #8d8585;
  }
  
  .IT-sphere-price {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  /* -------IT-sphere-information-- */
  .IT-sphere-information {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
  
    flex-direction: row;
    flex-wrap: wrap;
  
    background: linear-gradient(130deg, #fa95ec, #9080e9); /* градиент */
  }
  
  .IT-sphere-information-pBold {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
  }
  
  .IT-sphere-information-pBold2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
  }
  /* -------------------- */
  
  /* ------enhance your skills-------------- */
  .enhance-your-skills-box {
    padding: 150px 50px 340px 100px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  .enhance-your-skills img {
    width: 500px;
    border: solid 15px #fff;
  }
  
  .enhance-your-skills-img {
    position: absolute;
    left: 15pc;
    right: 0;
    top: 255pc;
    bottom: 0;
  }
  
  .enhance-your-skills-info {
    padding: 80px 0px 0px 180px;
  }
  
  .enhance-your-skills-logo-p {
    color: blueviolet; 
    font-size: 30px;
  }
  
  .enhance-your-skills-info-bold {
    font-weight: bold;
    font-size: 45px;
    padding: 15px 0px;
  }
  .enhance-your-skills-info-p {
    color: #8d8585;
    font-size: 30px;
  }
  
  .enhance-your-skills-butt {
    margin-top: 70px;
    background: blueviolet;
    width: 280px;
    color: #fff;
    font-size: 25px;
  }
  
  /* -------what-Are-Students-Says------/////------- */
  .what-Are-Students-Says-box {
    display: flex;
    justify-content: space-between;
    background: #f9faff;
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  
  .what-Are-Students-Says1  {
    width: 50%;
    padding: 100px 50px 0px 100px;
  }
  
  .what-Are-Students-Says2  {
    width: 50%;
    text-align: right;
  
  }
  
  .what-Are-Students-Says2 img {
    width: 620px;
  }
  
  /* -------welcome-to-studylab------------- */
  .WELCOME-img-box {
    background: rgb(253, 253, 253);
    padding: 100px 50px 0px 50px;
  }
  .WELCOME-img { 
    text-align: center;
    width: 100%;
  }
  
  .WELCOME-block-p-bold { 
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  .WELCOME-block-p {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 340pc;
    left: 21pc;
  }
  .Enroll-New {
    margin-top: 20px;
    background: cornflowerblue;
    color: #fff;
    width: 200px;
    font-size: 25px;
  }
  
  .welcome-to-studylab-box {
    padding: 150px 50px 100px 50px;
    display: flex;
    justify-content: space-between;
    background: rgb(253, 253, 253);
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  
  .welcome-to-studylab {
    width: 50%;
  }
  .studylab1 {
    padding-top: 70px;
  }
  .study-p {
    margin-top: 15px;
    font-size: 28px;
  }
  
  .welcome-to-studylab-img-p {
    display: flex;
    margin-top: 30px;
  }
  .welcome-to-studylab-img-p img {
    width: 200px;
  }
  .welcome-to-studylab-img-p p { 
    margin-top: 35px;
    font-size: 30px;
    margin-left: 30px;
  }
  
  .welcome-to-studylab-cards {
    width: 60%;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .studylab-card {
    margin-bottom: 20px;
    padding: 20px;
    width: 35%;
    background: #fff;
    box-shadow: 0 0 5px rgba(70, 66, 66, 0.2);
  }
  
  .studylab-card img{
    width: 100px;
    border-radius: 50%;
  }
  .studylab-card-bold {
    font-weight: bold;
    font-size: 28px;
  }
  .studylab-card-p {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 30px;
    color: #8d8585;
  }
  
  /* -----------OUR BLOG--------- */
  .our-blog-text {
    padding: 10px;
    text-align: left;
  }
  .our-blog-text div {
    padding-left: 10px;
  }
  .our-blog {
    font-size: 30px !important;
    color: #b9a5a5;
  }
  .our-blog-Read-more {
    margin-bottom: 20px;
    width: 200px;
    font-size: 25px;
    background: violet;
    color: #f9faff;
  }
  
  /* -------------- */
  /* footer */
  footer {
  
    background: linear-gradient(160deg, #d373f8, #494cf3); /*градиент*/
  }
  .footer-box { 
    padding: 80px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
    flex-wrap: wrap; */
    color: #f7f7f7;
  }
  
  .footer-box-menu {
    font-size: 25px;
    width: 250px;
    /* display: flex;
    justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .social-links {
    padding-top: 30px;
  }
  
  .social-link {
    padding: 25px;
    border-radius: 50%;
    background: #17a2b8;
  }
  .footer-menu-text {
    font-size: 30px;
    color: #fff;
  }
  
  .footer-box-menu p {
    margin-top: 20px;
  }
  
  
  .foot  {
    text-align: center;
    display: flex;
    justify-content: center;
    /* background: #000; */
    padding: 30px;
    color: #fff;
  }
  .foot p {
    font-size: 25px;
  }
  .foot a img {
    border-radius: 15px;
    margin-left: 20px;
  }
  

}
